/EditorDeArquivos/target/
/JiraIntegrador/modelRegras/target/
/clienteRest/target/
/apiComunicacaoPadrao/target/
/SBTarefaAgendada/target/
/SBShell/shellCommands/target/
/JiraIntegrador/servidorRequisito/target/
/seguranca/target/
/servidor/AdminServerColetivoJava/target/
/gestaoArquivosProtocoloS3/nbproject/
/gestaoArquivosProtocoloS3/target/